venv
__pycache__

# so it's only used localy in development
# TODO: delete in final production
.log

.env

# debugging
.fingerprint
deps
*.o
*.d
boba.d
boba.pdb
incremental

# so the compiled isn't save in the repo
*.exe
*.dmg