# todo: delete if not use is found. or maybe just use go and ditch python 
# for this project
venv
__pycache__

# so it's only used localy in development
# TODO: delete in final production
.log

# in case i'm using any apis or something
.env

# debugging. old in rust
# todo: delete in production
.fingerprint
deps
*.o
*.d
boba.d
incremental
boba.pdb

# so the compiled isn't save in the repo
*.exe
*.dmg

# mac only 
.DS_Store